// html and its body css (overwrite)

html, body {
    margin: 0;
    background-color: $body-bg;
    height: 100vh;
    line-height: 1.5;
    font-family: $typeface1;
}

#root {
    height: 100%;
}

main {
    height: calc(100% - var(--header-height));
}

h1 {
    font-size: 2.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.2;
}