// html and its body css (overwrite)

html, body {
    margin: 0;
    // background-color: $body-bg;
    height: 100vh;
    line-height: 1.5;
    font-family: $typeface1;


}

// #root {
//     // height: 100%;
// }

section {
    padding: 0.5rem 4rem 0.5rem;

    @media only screen and (max-width: 992px) {
        padding: 1rem 0rem;
    }
}

main {
    height: calc(100% - var(--header-height));
}