.card-box {
    @extend .box;
    flex-direction: column;
    margin-left: 0px;
    p.text-light {
        color: $primary;
    }
}

.img-block {
    overflow: hidden;
    max-width: 100%;
}

.res-img {
    object-fit: contain;
    height: 19rem;

}

.text-actual {
    text-decoration: line-through;
}

.vendor-block {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}