// use all the css related to footer
footer {
    color: $dark;
    background-color: $secondary;
    // padding: 3rem 4rem 0.5rem;

    section {
        display: flex;
        justify-content: space-between;

        >span {
            width: 100%;
        }
    }

    p {
        display: flex;
        align-items: center;
    }

    div
    {
        &:not(:last-child) {
            max-width: 400px;
            // min-width: 200px;
            padding-bottom: 1rem;
        }

        &:nth-child(4) {
            width: 300px;
        }
    }

    hr {
        margin: 0.5rem 0rem 1.5rem;
        // color: #ffffff !important;
    }

    a {
        text-decoration: none;
        color: $dark;

        >span:hover {
            text-decoration: underline;
        }
    }
}