// Use all the css related to header
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $dark;
    background-color: $secondary;
    padding: 0.5rem 4rem 0.5rem;

    a{
        text-decoration: none;
        color: $dark
    }

    @media only screen and (max-width: 992px) {
        div:first-child {
            display: none;
        }
        div:last-child {
            display: flex;
            justify-content: center;
            width: 100%;
        }
    }
}

.form-group {
    flex-grow: 1;
    margin: 0px 30px;

    @media only screen and (max-width: 992px) {
        margin: 0px 1rem;
    }
}

.search-group {
    @extend .box;
    display: flex;
    margin: 0px;
    width: 80%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);  // fr-> frame => take auto space (evenly)
    grid-template-rows: repeat(5, 50px);  // take each row 50px
}

i, svg{
    color: black;
}