.nav {
    &-header{
        display: flex;
        align-items: center;
        height: 65px;

        @media only screen and (max-width: 992px) {
            >div:first-child {
                display: none;
            }
            height: fit-content;
        }

        h1 {
            margin: 0px;
        }
    
        > div:nth-child(2){
            display: flex;
            flex: 1;
            height: fit-content;
        }
    }

    &-brand{
        display: none;

        @media only screen and (max-width: 992px) {
            display: flex;
        }
    }
}

.left-border {
    border: 1px solid #EDF1FF;
    border-left: 1px;
}